@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: open Sans, poppins, raleway;
}

.navbar-toggler-icon {
  background-image: url(../src/Images/nav-icon.png) !important;
}

.navbar-toggler {
  border: none !important;
}

.logo {
  display: flex;
  justify-content: center;
  width: 80px;
}

#navbar {
  background-color: #fff !important;
  font-size: 16px;
  font-family: poppins;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 1.5px 1px rgba(0, 0, 0, 0.1);
}

.link,
.cart-nav {
  text-decoration: none;
  color: #000;
  display: flex;
  padding: 15px;
  justify-content: center;
  margin-left: 10px;
}

.link:hover {
  color: black;
  text-decoration: 2px underline black;
  transition: 0.2s;
  border-radius: 5px;
}

.cart-nav:hover {
  color: #000;
}

.cart-nav {
  display: flex;
  align-items: center;
  position: absolute;
  left: 85%;
}

.cart-icon {
  width: 20px;
}

.cart-item {
  padding: 3px 7px;
  background-color: #000;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
}

.home {
  height: 89.6vh;
  display: flex;
  align-items: center;
}

.hero {
  margin-left: auto;
  width: 400px;
  height: 500px;
  background-color: #cae9ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  color: #000;
  position: relative;
  left: 4.5%;
}

.hero-t1 {
  font-size: 18px;
  font-family: poppins;
}

.hero-t2 {
  font-size: 50px;
  font-family: IBM Plex Mono;
  width: 350px;
  font-weight: 500;
  line-height: 70px;
}

.bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 45px;
  background-color: #000;
  font-size: 14px;
  font-family: poppins;
}

.shop-bttn {
  color: #fff;
  text-decoration: none;
}

.bttn:hover {
  background-color: #006d77;
  transition: 0.2s ease;
  color: #000;
}

.shop-bttn:hover {
  color: #fff;
}

.hero-t3 {
  position: relative;
  top: -15%;
  left: 29%;
  font-size: 45px;
  font-weight: 600;
  font-family: Poppins;
  width: 350px;
  color: #000;
}

#bgimg {
  width: 45% !important;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 20px;
  }

  .home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  #bgimg {
    width: 75% !important;
    position: relative;
    top: 25%;
    margin-right: auto;
  }

  .hero {
    left: 0;
    margin-right: auto;
    top: 20%;
  }

  .hero-t3 {
    position: relative;
    font-size: 25px;
    width: 250px;
    top: -15%;
    left: -7%;
  }

  .cart-nav {
    display: flex;
    position: relative;
    left: 60px;
  }
}
